@charset "utf-8";
/* CSS Document */
.barousel
{
    position:relative;
    margin-bottom:0px;
    width:1024px;
    height:540px;
}

.barousel_image
{
    position:absolute;
    z-index:10;
    width:1024px;
    height:540px;
}

.barousel_image img
{
    position:absolute;
    display:none;
}

.barousel_image img.default
{    
    display:block;
}

.barousel_image img.current
{
    z-index:10;
}

.barousel_image img.previous
{
    z-index:5;
}

.barousel_content
{
    position:absolute;
    padding:15px 18px 0 18px;    
    z-index:50;
    background: url(../img/bg_barousel_content.png) repeat 0 0;
    color:#fff;
    width:247px;
    bottom:40px;
    left:10px;
    border-radius:15px;
}

.barousel_content div
{
    display:none;    
}

.barousel_content div.default
{
    display:block;    
}

.barousel_content p
{
    font-size:13px;
    font-weight:normal; 
    line-height:17px;   
}

.barousel_content p.header
{
    font-size:28px;
    font-weight:normal;
    line-height:28px;
    color:#fff55b;
}

.barousel_content a,
.barousel_content a:hover
{
    color:#fff55b;
    background-color:transparent !important;
}

.barousel_nav
{
    position:absolute;
    padding:3px 5px 0px;
    height:23px;    
    background:#000;
    bottom:1px;
    right:1px;
    z-index:20;
    width:85px;
}

.barousel_nav .counter
{    
    float:right;
    font-size:0.75em;
    color:#fff;
    margin:3px 5px 0 0;
}

.barousel_nav ul
{
    float:right;
    padding:0;
    margin:0;
}

.barousel_nav li
{
    float:left;
    padding-left:3px;
    font-size:0;
    line-height:0;
    list-style:none;
}

.barousel_nav li a
{
    display:block;
    width:25px;
    height:20px;
    background-color:#4d4d4d;
    font-size:0;
    line-height:0;
    text-decoration:none;
}

.barousel_nav li a:hover
{
    background-color:#6e6e6e;
}

.barousel_nav li a.current
{
    background-color:#fff55b;
}

.barousel_nav li.prev a
{
    background-image:url(../img/barousel_link_previous.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}

.barousel_nav li.next a
{
    background-image:url(../img/barousel_link_next.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}




